name: Canary CI
on: 
  push:
  pull_request:
    branches:
      - canary
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
        registry-url: 'https://registry.npmjs.org'
        cache: 'yarn'
    - run: yarn install
    # - run: yarn build
    # - run: yarn test
    - run: yarn publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.YARN_TOKEN }}